<div class="plugin-config-section" *ngIf="plugin">
  <div class="plugin-config-header">
      <span class="icon">{{plugin.icon}}</span>
      <h3>{{plugin.configSchema.title}}</h3>
  </div>
  <div class="form-content">
    <div *ngFor="let field of plugin.configSchema.fields" class="form-group">
      <ng-container [ngSwitch]="field.type">
        <div *ngSwitchCase="'text'">
          <label [for]="field.name">{{field.label}}</label>
          <div *ngIf="field.description" class="description">{{field.description}}</div>
          <input type="text" [id]="field.name" [value]="config[field.name]" (change)="updateConfig(field.name, $event)">
        </div>
        <div *ngSwitchCase="'select'">
          <label [for]="field.name">{{field.label}}</label>
          <div *ngIf="field.description" class="description">{{field.description}}</div>
          <select [id]="field.name" [value]="config[field.name]" (change)="updateConfig(field.name, $event)">
            <option *ngFor="let option of field.options" [value]="option">{{option}}</option>
          </select>
        </div>
        <div *ngSwitchCase="'checkbox'">
            <div class="checkbox-item" [ngClass]="{'checked': config[field.name]}" (click)="toggleCheckbox(field.name)">
                <input type="checkbox" [id]="field.name" [checked]="config[field.name]" (change)="updateConfig(field.name, $event)">
                <label [for]="field.name">{{field.label}}</label>
            </div>
            <div *ngIf="field.description" class="description">{{field.description}}</div>
        </div>
        <div *ngSwitchCase="'radio'">
            <label>{{field.label}}</label>
            <div *ngIf="field.description" class="description">{{field.description}}</div>
            <div class="radio-group">
                <div *ngFor="let option of field.options" class="radio-item" [ngClass]="{'checked': config[field.name] === option.value}" (click)="selectRadio(field.name, option.value)">
                    <input type="radio" [id]="option.value" [name]="field.name" [value]="option.value" [checked]="config[field.name] === option.value">
                    <label [for]="option.value">{{option.label}}</label>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'range'">
            <label [for]="field.name">{{field.label}}</label>
            <div *ngIf="field.description" class="description">{{field.description}}</div>
            <div style="display: flex; align-items: center;">
                <input type="range" [id]="field.name" [min]="field.min" [max]="field.max" [value]="config[field.name]" (change)="updateConfig(field.name, $event)">
                <span class="range-value">{{config[field.name]}}</span>
            </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
