<h2 class="infrastructure-title">Infrastructure Pipeline</h2>

<div class="pipeline-nav">
  @for (step of pipelineSteps(); track step.id; let i = $index) {
    <div class="pipeline-step"
         [class.pipeline-step-active]="activeSubstep() === step.id" (click)="setActiveSubstep(step.id)">
      <div class="pipeline-icon"
           [class.pipeline-icon-active]="activeSubstep() === step.id">
        <span>&check;</span>
      </div>
      <span class="pipeline-label" [class.pipeline-label-active]="activeSubstep() === step.id">{{ step.name }}</span>
    </div>
    @if (i < pipelineSteps().length - 1) {
      <div class="pipeline-connector"></div>
      <div class="pipeline-connector-vertical"></div>
    }
  }
</div>

<div class="step-options">
  @switch (activeSubstep()) {
    @case ('bitbucket') {
      <h3 class="step-title">Bitbucket</h3>
      <div class="form-group">
        <label for="bitbucket-flow" class="form-label">Workflow</label>
        <select id="bitbucket-flow" [ngModel]="wizardState.infrastructure().bitbucket.flow" (change)="onBitbucketFlowChange($event)" class="form-input">
          <option value="gitflow">GitFlow</option>
          <option value="trunk">Trunk Based</option>
        </select>
      </div>

      <!-- Repository Names -->
      <div class="form-group">
        <label for="repo-fe" class="form-label">FE Repository Name</label>
        <input type="text" id="repo-fe" class="form-input"
               [ngModel]="wizardState.infrastructure().bitbucket.repoFE"
               (change)="onRepoFEChange($event)">
      </div>
      <div class="form-group">
        <label for="repo-be" class="form-label">BE Repository Name</label>
        <input type="text" id="repo-be" class="form-input"
               [ngModel]="wizardState.infrastructure().bitbucket.repoBE"
               (change)="onRepoBEChange($event)">
      </div>

      <!-- Minimum Reviewers -->
      <div class="form-group">
        <label for="min-reviewers" class="form-label">Min Number of reviewers</label>
        <input type="number" id="min-reviewers"
               class="form-input"
               min="1"
               [ngModel]="wizardState.infrastructure().bitbucket.minReviewers"
               (change)="onMinReviewersChange($event)">
      </div>

      <!-- People Management -->
      <div class="form-group">
        <label class="form-label">Team Member / Reviewer</label>
        <div class="people-management-group">
          <!-- Person Name -->
          <input type="text"
                 placeholder="Person Name"
                 class="form-input"
                 [(ngModel)]="newPerson.name">

          <!-- Username -->
          <input type="text"
                 placeholder="Username"
                 class="form-input"
                 [(ngModel)]="newPerson.username">

          <!-- Checkboxes -->
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="newPerson.defaultFE"> Reviewer FE
          </label>
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="newPerson.defaultBE"> Reviewer BE
          </label>

          <!-- Add button aligned right -->
          <button class="btn btn-primary add-person-btn" (click)="addPerson()">Add</button>
        </div>
      </div>

      <!-- People Table -->
      <div class="table-container">
        <table class="table">
          <thead class="table-header">
          <tr class="table-row">
            <th class="table-cell">Person Name</th>
            <th class="table-cell">Username</th>
            <th class="table-cell">Reviewer FE</th>
            <th class="table-cell">Reviewer BE</th>
            <th class="table-cell">Actions</th>
          </tr>
          </thead>
          <tbody>
            @for (person of people; track person; let i = $index) {
              <tr class="table-row">
                <td class="table-cell">{{ person.name }}</td>
                <td class="table-cell">{{ person.username }}</td>
                <td class="table-cell text-center">
                  <input type="checkbox" [checked]="person.defaultFE" disabled>
                </td>
                <td class="table-cell text-center">
                  <input type="checkbox" [checked]="person.defaultBE" disabled>
                </td>
                <td class="table-cell">
                  <button class="btn btn-secondary" (click)="removePerson(i)">
                    Remove
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

    }
    @case ('maven') {
      <div>
        <h3 class="step-title">Maven Options</h3>
        <p>No options available for this step.</p>
      </div>
    }
    @case ('xray') {
      <div>
        <h3 class="step-title">Xray Options</h3>

        <!-- Enable XRay -->
        <div class="form-group checkbox-group">
          <input type="checkbox" id="vuln-scan" [ngModel]="wizardState.infrastructure().xray.vulnerabilityScan"
                 (change)="onVulnerabilityScanChange($event)">
          <label for="vuln-scan" class="form-label">Enable XRay</label>
        </div>

        @if (wizardState.infrastructure().xray.vulnerabilityScan) {
          <!-- Vulnerability Threshold -->
          <div class="form-group">
            <label for="vuln-threshold" class="form-label">Vulnerability Threshold:</label>
            <select id="vuln-threshold" class="form-input"
                    [ngModel]="wizardState.infrastructure().xray.vulnerabilityThreshold"
                    (change)="onVulnerabilityThresholdChange($event)">
              <option value="medium">Medium</option>
              <option value="high">High</option>
              <option value="critical">Critical</option>
            </select>
          </div>

          <!-- Check Opensource -->
          <div class="form-group">
            <span class="form-label">Check Opensource Licenses:</span>
            <div class="radio-group">
              <label class="radio-label">
                <input type="radio" name="check-opensource" value="yes"
                       [checked]="wizardState.infrastructure().xray.checkOpensource"
                       (change)="onCheckOpensourceChange($event)">
                Yes
              </label>
              <label class="radio-label">
                <input type="radio" name="check-opensource" value="no"
                       [checked]="!wizardState.infrastructure().xray.checkOpensource"
                       (change)="onCheckOpensourceChange($event)">
                No
              </label>
            </div>
          </div>

          <!-- Create SBOM report -->
          <div class="form-group checkbox-group">
            <input type="checkbox" [ngModel]="wizardState.infrastructure().xray.checkSBOM"
                     (change)="onCheckSBOMChange($event)">
            <label class="form-label">Create SBOM report</label>
          </div>

          <!-- Report Vulnerability on Sonar -->
          <div class="form-group checkbox-group">
            <input type="checkbox" [ngModel]="wizardState.infrastructure().xray.reportOnSonar"
                     (change)="onReportOnSonarChange($event)">
            <label class="form-label">Report Vulnerability on Sonar</label>
          </div>
        }
      </div>
    }



    @case ('sonarqube') {
      <div>
        <h3 class="step-title">SonarQube Options</h3>

        <!-- Enable Sonar -->
        <div class="form-group checkbox-group">
          <input type="checkbox" id="enable-sonar" [ngModel]="wizardState.infrastructure().sonarQube.enabled"
                 (change)="onEnableSonarChange($event)">
          <label for="enable-sonar" class="form-label">Enable Sonar</label>
        </div>

        @if (wizardState.infrastructure().sonarQube.enabled) {

          <!-- Sonar Name FE -->
          <div class="form-group">
            <label for="sonar-name-fe" class="form-label">Sonar Name FE</label>
            <input type="text" id="sonar-name-fe" class="form-input"
                   [value]="sonarNameFE()"
                   (input)="onSonarNameFEChange($event)">
          </div>

          <!-- Quality Gate FE -->
          <div class="form-group">
            <label for="quality-gate-fe" class="form-label">Quality Gate FE</label>
            <select id="quality-gate-fe" class="form-input"
                    [ngModel]="wizardState.infrastructure().sonarQube.qualityGateFE"
                    (change)="onQualityGateFEChange($event)">
              <option [value]="qualityOptions[0]">{{ qualityOptions[0] }}</option>
              <option [value]="qualityOptions[1]">{{ qualityOptions[1] }}</option>
              <option [value]="qualityOptions[2]">{{ qualityOptions[2] }}</option>
              <option [value]="qualityOptions[3]">{{ qualityOptions[3] }}</option>
              <option [value]="qualityOptions[4]">{{ qualityOptions[4] }}</option>
              <option [value]="qualityOptions[5]">{{ qualityOptions[5] }}</option>
              <option [value]="qualityOptions[6]">{{ qualityOptions[6] }}</option>
              <option [value]="qualityOptions[7]">{{ qualityOptions[7] }}</option>
              <option [value]="qualityOptions[8]">{{ qualityOptions[8] }}</option>
              <option [value]="qualityOptions[9]">{{ qualityOptions[9] }}</option>
              <option [value]="qualityOptions[10]">{{ qualityOptions[10] }}</option>
            </select>
          </div>

          <!-- Sonar Name BE -->
          <div class="form-group">
            <label for="sonar-name-be" class="form-label">Sonar Name BE</label>
            <input type="text" id="sonar-name-be" class="form-input"
                   [value]="sonarNameBE()"
                   (input)="onSonarNameBEChange($event)">
          </div>

          <!-- Quality Gate BE -->
          <div class="form-group">
            <label for="quality-gate-be" class="form-label">Quality Gate BE</label>
            <select id="quality-gate-be" class="form-input"
                    [ngModel]="wizardState.infrastructure().sonarQube.qualityGateBE"
                    (change)="onQualityGateBEChange($event)">
              <option [value]="qualityOptions[0]">{{ qualityOptions[0] }}</option>
              <option [value]="qualityOptions[1]">{{ qualityOptions[1] }}</option>
              <option [value]="qualityOptions[2]">{{ qualityOptions[2] }}</option>
              <option [value]="qualityOptions[3]">{{ qualityOptions[3] }}</option>
              <option [value]="qualityOptions[4]">{{ qualityOptions[4] }}</option>
              <option [value]="qualityOptions[5]">{{ qualityOptions[5] }}</option>
              <option [value]="qualityOptions[6]">{{ qualityOptions[6] }}</option>
              <option [value]="qualityOptions[7]">{{ qualityOptions[7] }}</option>
              <option [value]="qualityOptions[8]">{{ qualityOptions[8] }}</option>
              <option [value]="qualityOptions[9]">{{ qualityOptions[9] }}</option>
              <option [value]="qualityOptions[10]">{{ qualityOptions[10] }}</option>
            </select>.
          </div>

        }
      </div>
    }

    @case('deployment') {
      <div>
        <h3 class="step-title">Deployment Options</h3>

        <div class="form-group">
          <label for="deployment-type" class="form-label">Deployment Type</label>
          <select id="deployment-type" [ngModel]="wizardState.infrastructure().deployment.type"
                  (change)="onDeploymentTypeChange($event)" class="form-input">
            <option value="okd">OKD</option>
            <option value="vm">Virtual Machine</option>
          </select>
        </div>

        <!-- Environment Namespaces -->
        <div class="deployment-namespaces">

          <!-- Development -->
          <div class="namespace-group">
            <div class="namespace-label-group">
              <input type="checkbox" id="dev-check"
                     [(ngModel)]="wizardState.infrastructure().deployment.dev.enabled">
              <label for="dev-check" class="form-label">Development</label>
            </div>
            <input type="text" class="form-input"
                   [value]="deploymentDevNamespace()"
                   (input)="onNamespaceChange('dev', $event)">
          </div>

          <!-- Test -->
          <div class="namespace-group">
            <div class="namespace-label-group">
              <input type="checkbox" id="test-check"
                     [(ngModel)]="wizardState.infrastructure().deployment.test.enabled">
              <label for="test-check" class="form-label">Test</label>
            </div>
            <input type="text" class="form-input"
                   [value]="deploymentTestNamespace()"
                   (input)="onNamespaceChange('test', $event)">
          </div>

          <!-- Acceptance -->
          <div class="namespace-group">
            <div class="namespace-label-group">
              <input type="checkbox" id="acceptance-check"
                     [(ngModel)]="wizardState.infrastructure().deployment.acceptance.enabled">
              <label for="acceptance-check" class="form-label">Acceptance</label>
            </div>
            <input type="text" class="form-input"
                   [value]="deploymentAcceptanceNamespace()"
                   (input)="onNamespaceChange('acceptance', $event)">
          </div>

        </div>
      </div>
    }


  }
</div>
