<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (task(); as taskRef) {
      <div>
        <h2 data-cy="taskDetailsHeading"><span jhiTranslate="sampleApp.task.detail.title">Task</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ taskRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="sampleApp.task.title">Title</span></dt>
          <dd>
            <span>{{ taskRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="sampleApp.task.description">Description</span></dt>
          <dd>
            <span>{{ taskRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="sampleApp.task.job">Job</span></dt>
          <dd>
            @for (job of taskRef.jobs; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/job', job.id, 'view']">{{ job?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/task', taskRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
